/* Payload'ın logoyu sıkıştıran 18px'lik kutusunu esnetiyoruz */
.step-nav__home {
  width: auto !important;
  height: auto !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

/* Logonun etrafındaki boşlukları hizalamak istersen */
.step-nav__home span {
  display: flex !important;
  align-items: center;
}